<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>RaspiCam System - Files downloading </title>

</head>
<body>
	</br>
    <div id="box">
        Downloading 
        <a href="/static/download/{{name}}" download="/static/download/{{name}}" id='dl'> {{name}} </a>  
        after <span id="Os">5</span>s ... 
        </br>
        go back please click 
        <a href="/index">
            here
        </a>
        .
    </div>
    <script type="text/javascript">
        var aLink=document.getElementById("dl");
        var Os=document.getElementById("Os");
        var num=5;
        var timer=setInterval(function () {
            num--;
            Os.innerText=num;
            if(num==0){
                aLink.click()
            }
            if(num<0){
            	Os.innerText=0;
                // window.location.href="/index";
            }
        },1000)
        function stop() {
            clearInterval(timer);
        }
    </script>
</body>
</html>
