<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<style type="text/css"> 
a{    
    text-decoration:none;
    color:black;
}
a:hover{
    color:black;
}
.div1{
    width:320px;
    height:240px;
}
.div2{
    display:table-cell;
    vertical-align:bottom;
    width: 320px;
    height: 30px;
    top: 210px;
    filter:alpha(Opacity=80);
    -moz-opacity:0.7;
    opacity: 0.7;
    position: relative;
    background-color: white;
}
td{
    padding-left:  0px;
    padding-right: 10px;
}
#hiddenEle{
    visibility:hidden;
}
</style>
<script type="text/javascript">
function checkOrCancelAll() {
    var chElt=document.getElementById("chElt");
    var checkedElt = chElt.checked;
    var allCheck = document.getElementsByName("picture");
    if(checkedElt) {
        for(var i=0;i<allCheck.length;i++) {
            allCheck[i].checked=true;
        }
    }
    else {
        for(var i=0;i<allCheck.length;i++) {
            allCheck[i].checked=false;
        }
    }
}

function hideElement() {
    if (document.getElementById("hiddenEle").style.visibility=="visible") {
        document.getElementById("hiddenEle").style.visibility="hidden";
    }
    else {
        document.getElementById("hiddenEle").style.visibility="visible";
    }
}

function picShow(string) {
    window.open("/static/"+string);
}

function updateTime() {
    var timer=setInterval(function () {
        alertTime();
    },1000)
}

function alertTime(argument) {
    var t=document.getElementById('sysTime');
    var myDate = new Date();
    var year = myDate.getFullYear();
    var month = myDate.getMonth()+1;
    var day = myDate.getDate();
    var hour = myDate.getHours();
    var min = myDate.getMinutes();
    var sec = myDate.getSeconds();
    document.getElementById('sys_year').value = year;
    document.getElementById('sys_month').value = month;
    document.getElementById('sys_day').value = day;
    document.getElementById('sys_hour').value = hour;
    document.getElementById('sys_min').value = min;
    document.getElementById('sys_sec').value = sec;
    t.innerText = 'Current time:';
    t.innerText += ' '+year+'-'+month+'-'+day+' '+hour+':'+min+':'+sec;
}
</script>

<title>RaspiCam System</title>
</head>
<body>
    DEBUG: {{ aaa }}
    </br>    
    <b id='sysTime'>Current time: loading...</b>
    <script type="text/javascript">
        updateTime();
    </script>

    <form action="/index" method="post">
        {% csrf_token %}

        <input type="hidden" id="sys_year" name="sys_year" value="">
        <input type="hidden" id="sys_month" name="sys_month" value="">
        <input type="hidden" id="sys_day" name="sys_day" value="">
        <input type="hidden" id="sys_hour" name="sys_hour" value="">
        <input type="hidden" id="sys_min" name="sys_min" value="">
        <input type="hidden" id="sys_sec" name="sys_sec" value="">

        <input type="button" value="Setting" name="setting" style="height:50px;" onclick="hideElement()">
        <input type="submit" value="Capture" name="capture" style="height:50px;">

        <div id="hiddenEle">
            Resolution: 
            <select name="r">
                <option value="2592x1944">2592x1944(4:3)</option>
                <option value="2048x1536">2048x1536(4:3)</option>
                <option value="1600x1200">1600x1200(4:3)</option>
                <option value="1280x960" selected="selected">1280x960(4:3)</option>
                <option value="2592x1458">2592x1458(16:9)</option>
                <option value="2048x1152">2048x1152(16:9)</option>
                <option value="1600x900">1600x900(16:9)</option>
                <option value="1280x720">1280x720(16:9)</option>
            </select>        

            Rotation: 
            <select name="rot">
                <option value="0">0</option>
                <option value="90">90</option>
                <option value="180" selected="selected">180</option>
                <option value="270">270</option>
            </select>

            Number:
            <input type="text" name="n" value="1" size="2">

            Delay(ms):
            <input type="text" name="delay" value="1000" size="3">

            Quality: 
            <select name="q" style="width:70px;">
                <option value="100">100</option>
                <option value="90">90</option>
                <option value="85" selected="selected">85</option>
                <option value="70">80</option>
                <option value="60">60</option>
            </select>
        </div>
        {% if name %}
            <a href="/static/{{name}}" target="_blank">
                <img src="/static/{{name}}" height="480" title="{{name}}">
            </a>
        {% endif %}

        </br>

        <table border="0">        
            <tr>
                <td> <input type="submit" name="manage" value="Manage"> </td>
                <td> <input type="submit" name="download" value="Download"> </td>
                <td> <input type="submit" name="delete" value="Delete"> </td>
                <td> <input type="checkbox" id="chElt" onclick="checkOrCancelAll();">Select all</td>
            </tr>
        </table>
        {% for item in file_list%}
            <div class="div1" style="background:url('/static/{{item}}') no-repeat;background-size: 100% 100%;" onclick="picShow('{{item}}')"> 
                <div class="div2">
                    <input type="checkbox" name="picture" value="{{item}}" />
                    <a href="/static/{{item}}" target="_blank">
                        {{ item }}
                    </a>
                </div>
            </div>
            </br>
        {% endfor %}
    </form>

</body>
</html>
