<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>RaspiCam System</title>
</head>
<body>
    <form action="/index" method="post">
        {% csrf_token %}
        resolution: 
        <select name="r">
            <option value="1">2592x1944(4:3)</option>
            <option value="2">2048x1536(4:3)</option>
            <option value="3">1600x1200(4:3)</option>
            <option value="4">1280x960(4:3)</option>
            <option value="5">2592x1458(16:9)</option>
            <option value="6">2048x1152(16:9)</option>
            <option value="7">1600x900(16:9)</option>
            <option value="8">1280x720(16:9)</option>
        </select>        
        rotation: 
        <select name="rot" style="width:70px;">
            <option value="1">0</option>
            <option value="2">90</option>
            <option value="3">180</option>
            <option value="4">270</option>
        </select>
        number:
        <input type="text" name="n" value="1" size="1">
		delay(ms):        
        <input type="text" name="delay" value="200" size="1">
        quality: 
        <select name="q" style="width:70px;">
            <option value="1">100</option>
            <option value="2">95</option>
            <option value="3">90</option>
            <option value="4">80</option>
            <option value="5">60</option>
        </select>
        <input type="submit" value="capture">
	</br></br>
        <a href="/static/{{name}}">
            <img src="/static/{{name}}" width="640" height="480" title="{{name}}">
        </a>

        <p>More photos</p>
        {% for item in file_list%}
            <a href="/static/{{item}}">
                <img src="/static/{{item}}" width="320" height="240" title="{{item}}">
            </a>
	{% endfor %}
    </form>
</body>
</html>
